gradle.publish.key=<GRADLE PUBLISH API KEY HERE>
gradle.publish.secret=<GRADLE PUBLISH API SECRET HERE>
maven.publish.repo.release=<REPO URL>
maven.publish.repo.snapshot=<REPO URL>
maven.publish.repo.pw=<REPO PW>
maven.publish.repo.user=<REPO USERNAME>
